/* -------------------- SECTIONS -------------------- */

h2 {
    color: var(--Majorelle-Blue);
}

h3 {
    color: var(--Majorelle-Blue);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding: 80px;
}

/* HERO */
.hero {
    background-image: url('../img/Hero\ image\ -\ About\ us.svg');
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 950px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    align-self: stretch;
    padding: 0px 16px;
    text-align: center;
}

.hero-text h1{
    color: var(--Majorelle-Blue);
}

.hero-text-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    gap: 36px;
}

.hero .buttons-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
}

/* OUR-MISSION */

.our-mission {
    background-color: var(--Lilac);
    display: flex;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.our-mission p {
    text-align: left;
    gap: 56px;
}

iframe{
    border-radius: 16px;
    width: 100%;
    height: 800px;
    border: none;
}

/* OUR-TEAM */

.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    align-self: stretch;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    text-align: center;
    padding: 0px;
}

.profile-text{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.profile img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-social-media {
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile-social-media a {
    background-color: var(--Cayola-Green);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.profile-social-media a img {
    border-radius: 0%;
    height: 12px;
    width: 12px;
}




/* CALL TO ACTION */
.call-to-action {
    background-color: var(--Majorelle-Blue);
    flex-direction: column;
    align-items: flex-start;
    color: var(--White);
    gap: 40px;
    padding: 96px 76px;
}

.call-to-action .group-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    text-align: left;
    max-width: 700px;
}

.call-to-action h2 {
    color: var(--White);
}

.call-to-action p {
    color: var(--Alice-Blue);
    font-weight: 400;
}

form {
    display: flex;
    gap: 16px;
    width: 100%;
}

form .email-input{
    padding: 14px 18px;
    border-radius: 8px;
    border: 2px solid var(--White, #FFF);
    max-width: 480px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

form .email-input::placeholder{
    color: var(--White);
}

.cta-primary-button {
    border-radius: 8px;
    background: var(--White, #FFF);
    color: var(--Very-Light-Blue);
    text-decoration: none;
    display: flex;
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-weight: 550;
    border: none;
}

.cta-secondary-button {
    border-radius: 8px;
    border: 2px solid var(--White);
    color: var(--White);
    text-decoration: none;
    display: flex;
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-weight: 550;
}


@media (width >=1280px) {
    section {
        padding: 80px;
    }

    .hero-text {
        padding: 0px 355px;
    }

    .hero .buttons-group {
        display: flex;
        align-items: stretch;
        gap: 16px;
    }

    iframe {
        border-radius: 16px;
        width: 100%;
        height: 886px;
        border: none;
    }

    .profile {
        padding: 0 200px;
    }

    
}