/* -------------------- SECTIONS -------------------- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding: 80px 36px;
}


/* HERO */
.hero {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 56px 36px;
}

h1 {
    color: var(--Majorelle-Blue);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    width: 100%;
}

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
    width: 100%;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-desktop {
    display: none;
}

.hero-image h3{
    display: none;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.hero-text .group-text {
    align-items: flex-start;
    text-align: left;
}

.hero-text-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    gap: 48px;
}

/* SECCION GRILLA */

.seccion-promos {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background-color: var(--Lilac, #E1E7FF);
}

.seccion-promos>div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.seccion-promos>div p {
    font-size: 18px;
}

.seccion-promos .promo-card span {
    background-color: var(--Cosmic-Latte);
}

.features-container-card {
    align-items: center;
    display: flex;
    gap: 16px;
    width: 100%;
}

.feature-card {
    align-items: center;
    border-radius: 24px;
    padding: 24px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 15%;
    border: 2px solid var(--Very-Light-Blue, #6466EF);
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.features .card-text p {
    color: var(--Majorelle-Blue);
}

/* CALL TO ACTION */
.call-to-action {
    background-color: var(--Majorelle-Blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--White);
    gap: 32px;
}

.h3-cta {
    color: #ffffff;
    flex-basis: 0;
    flex-grow: 0.55;
    text-align: center;
}

.cta-primary-button {
    border-radius: 9px;
    background: var(--White, #FFF);
    color: var(--Majorelle-Blue);
    border: 2px solid var(--White);
    text-decoration: none;
    display: flex;
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-weight: 550;
}

.cta-secondary-button {
    border-radius: 9px;
    background: var(--Majorelle-Blue);
    color: var(--White);
    border: 2px solid var(--White);
    text-decoration: none;
    display: flex;
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-weight: 550;
}

@media (width >=1080px) {
    section {
        padding: 80px;
    }

    .hero{
        padding: 80px;
    }

    .hero-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }

    .banner-desktop {
        display: flex;
    }

    .banner-mobile {
        display: none;
    }
    
    .hero-image h3 {
         display: flex;
    }
}